.main {
  background-image: url("/backgroundMountain.jpg");
  min-height: 100vh;
  background-size: cover;
  
}





/* .main {
  background-color: pink;
} */

.title {
  margin-left: 7em;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 12em;
 
}

.divider {
  color: #F4D6B9; 
  width: 25%;
  height: 2px;
  margin-left: 14em;
  position: relative;
  top: 25em;
  
}

.contact {
  padding: 5px 10px;
  background: none;
  border: 2px solid #fff; 
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  left: 18em;
  top: 33em;
}

.moreButton {
  padding: 5px 10px;
  background: none;
  border: 2px solid #fff; 
  border-radius: 8px;
  position: relative;
  left: 17em;
  top: 33em;
  cursor: pointer;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 14em;
  position: relative;
  top: 420px;

}

